h1.title {
    color: black;
    font-size: 24px;
    display: inline-block;
}

.pages {
    text-align: center;
    padding: 15px;
}

h2.blogarea {
    color: black;
}

div.blogarea {
    background-color: white;
    outline: black;
    outline-style: solid;
    outline: show;
    margin: 30px;
}
div.post {
    padding-left: 10px;
    outline: auto;
}

div.projectsarea {
    background-color: white;
    outline: black;
    outline-style: solid;
    outline: show;
    margin: 30px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    scale: 1.8;
}

a.linkedin{
    margin: 30px;
    align-self: center;
}

a.github {
    margin: 30px;
    align-self: center;
}

div.aboutme {
    background-color: white;
    outline: black;
    outline-style: solid;
    outline: show;
    margin: 30px;
    text-align: center;
    height: min-content;
    width: fit-content;