h1.title {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 10px;
}

h2.blogarea {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

div.blogarea {
    background-color: white;
    outline: black;
    outline-style: solid;
    outline: show;
    margin: 30px;
}

div.projectarea {
    background-color: white;
    outline: black;
    outline-style: solid;
    outline: show;
    padding-bottom: 400px;
    margin: 30px;
}

a.linkedin{
    background-image: "images/linkedin.png";
}

a.github {
    background-image: "images/github.png";
}