h1.title {
    color: black;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 10px;
}

h2.blogarea {
    color: black;
}

div.blogarea {
    background-color: white;
    outline: black;
    outline-style: solid;
    outline: show;
    margin: 30px;
}
div.post {
    padding-left: 10px;
    outline: auto;
}

div.projectsarea {
    background-color: white;
    outline: black;
    outline-style: solid;
    outline: show;
    margin: 30px;
}

a.linkedin{
    margin: 30px;
}

a.github {
    margin: 30px;
}

div.aboutme {
    background-color: white;
    outline: black;
    outline-style: solid;
    outline: show;
    margin: 30px;
}